<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<title>Dashboard Page</title>
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container">
			<a class="navbar-brand" href="#">Enquiry Status</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
				aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" href="/dashboard">Dashboard</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/enquiry/add">Add Enquiries</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/enquiries">View All Enquiries</a>
					</li>
				</ul>
				<form action="/logout" method="post" class="d-flex">
					<button class="btn btn-outline-light" type="submit">Logout</button>
				</form>
			</div>
		</div>
	</nav>

	<!--Dashboard Page-->
	<div class="container mt-5">
		<h2 class="text-center mb-4">Welcome to the Dashboard</h2>
		<div class="row g-4">
			<div class="col-md-3">
				<div class="card text-white bg-info shadow-sm">
					<div class="card-body">
						<h5 class="card-title">Total Enquiries</h5>
						<p class="card-text fs-3 fw-bold" th:text="${dashboard.totalEnqs}"></p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card text-white bg-success shadow-sm">
					<div class="card-body">
						<h5 class="card-title">Enrolled Enquiries</h5>
						<p class="card-text fs-3 fw-bold" th:text="${dashboard.enrolledEnqs}"></p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card text-white bg-warning shadow-sm">
					<div class="card-body">
						<h5 class="card-title">Open Enquiries</h5>
						<p class="card-text fs-3 fw-bold" th:text="${dashboard.openEnqs}">0</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card text-white bg-danger shadow-sm">
					<div class="card-body">
						<h5 class="card-title">Lost Enquiries</h5>
						<p class="card-text fs-3 fw-bold" th:text="${dashboard.lostEnqs}">0</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>

</html>